click==6.7
colour==0.1.5
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
six==1.11.0
SQLAlchemy==1.2.11
SQLAlchemy-Utils==0.33.4
Werkzeug==0.14.1
