{
	"sandboxOutput": "output.json",

	"programPath": "helloworld",

	"timeLimit": 1000,
	"memoryLimit": 134217728,
	
	"file":{
		"/etc/ld.so.cache": ["read"],
		"/usr/lib/*": ["read"]
	},
	
	"syscall":{
		"allow": [
			"access",
			"openat",
			"close",

			"arch_prctl",
			"brk",

			"mmap",
			"munmap",
			"mprotect",

			"read",
			"write",
			"lseek",
			"fstat",

			"exit_group"
		]
	}
}

