{
	"sandboxOutput": "output.json",

	"programPath": "helloworld",

	"timeLimit": 1000,
	"memoryLimit": 134217728,

	"file":{
		"/etc/ld.so.cache": ["read"],
		"/usr/lib/*": ["read"],

		"input.txt": ["read"],
		"output.txt": ["create", "read", "write"]
	},

	"stdioRedirection":{
		"stdin": "input.txt",
		"stdout": "output.txt"
	},

	"syscall":{
		"allow": [
			"arch_prctl",
			"exit_group",

			"brk",
			"mmap",
			"munmap",
			"mprotect",

			"access",
			"openat",
			"close",

			"read",
			"write",
			"lseek",
			"fstat"
		]
	}
}

